html, body{
  height: 100%;
  background-color: #888888;
}


.welcome-text{
  font-size: 24px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20%;
}


.boardHex{
    width: 70%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
}

.tableHex{
    width: 100%;
    border: none;
    height: 100%;
}

.tableHex td{
    border-collapse: collapse;
    text-align: center;
    height: 9%;
}

.tableHex th{
    text-align: center;
    border-bottom: solid 1px #333333;
}


.RVA{
    border-right: solid 1px #333333;
}


.boardText{
    width: 30%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}

.tableText{
    width: 100%;
    border: none;
    height: 100%;
    border-left: solid 1px #333333;
}
.tableText td{
    border-collapse: collapse;
    text-align: center;
    height: 9%;
}


.tableText th{
    text-align: center;
    border-bottom: solid 1px #333333;
